<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.dao.AdWarningDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hjh.entity.AdWarning">
		<id column="warning_id" property="warningId" />
		<result column="user_id" property="userId" />
		<result column="content" property="content" />
		<result column="advertisememt_id" property="advertisememtId" />
		<result column="title" property="title" />
		<result column="warning_status" property="warningStatus" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        warning_id AS warningId, user_id AS userId, content, advertisememt_id AS advertisememtId, title, warning_status AS warningStatus, status, create_time AS createTime, modify_time AS modifyTime
    </sql>

</mapper>
