<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.dao.PicFileDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hjh.entity.PicFile">
		<id column="pic_id" property="picId" />
		<result column="path" property="path" />
		<result column="type" property="type" />
		<result column="busness_id" property="busnessId" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pic_id AS picId, path, type, busness_id AS busnessId, status, create_time AS createTime, modify_time AS modifyTime
    </sql>

	<select id="selectPicForMsg" resultMap="BaseResultMap">
		SELECT * FROM pic_file WHERE busness_id=#{msg_id} and type=5 and `status`=1;
	</select>

	<select id="selectDesignPicForAd" resultType="Map">
		SELECT * FROM pic_file WHERE busness_id=#{advertisement_id} and (type=2) and `status`=1;
	</select>
</mapper>
