<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.dao.TUserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hjh.entity.TUser">
        <id column="user_id" property="userId"/>
        <result column="mobile" property="mobile"/>
        <result column="name" property="name"/>
        <result column="portrait_url" property="portraitUrl"/>
        <result column="password" property="password"/>
        <result column="user_type" property="userType"/>
        <result column="company_id" property="companyId"/>
        <result column="superior_id" property="superiorUserId"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="superior_name" property="superiorName"/>
        <result column="company_name" property="companyName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id AS userId, mobile, name, portrait_url AS portraitUrl, password, user_type AS userType, company_id AS companyId, superior_id AS superiorUserId, status, create_time AS createTime, modify_time AS modifyTime
    </sql>


    <select id="getUserInfo" resultMap="BaseResultMap">
        SELECT
        u.user_id,
        u.mobile,
        u.portrait_url,
        u.user_type,
        u.`name`,
        u.company_id,
        u.superior_id,
        u2.`name` AS superior_name,
        c.company_name
        FROM
        t_user u
        LEFT JOIN company c ON u.company_id = c.company_id
        LEFT JOIN t_user u2 ON u.superior_id=u2.user_id

        <where>
            u.user_id = #{userId}
            AND u.`status` =1

        </where>
    </select>

    <select id="selectUsers" resultMap="BaseResultMap">
        SELECT
        u.user_id,
        u.mobile,
        u.portrait_url,
        u.user_type,
        u.`name`,
        u.superior_id,
        u2.`name` AS superior_name,
        group_concat(c.company_name) as company_name,
        group_concat(c.company_id) as company_id
        FROM
        t_user u
        left join user_company uc on u.user_id = uc.user_id
        LEFT JOIN company c ON uc.company_id = c.company_id
        LEFT JOIN t_user u2 ON u.superior_id=u2.user_id
        <where>
            AND u.`status` =1
            and c.`status` =1
            <if test="companyId != null and companyId!=''">
                and uc.company_id=#{companyId}
            </if>
            <if test="userType !=null">
                and u.user_type=#{userType}
            </if>
            <if test="keyWord!=null and keyWord!=''">
                and u.name like CONCAT('%',#{keyWord},'%')
            </if>
            <if test="supUserId != null and supUserId != ''">
                and u.superior_id =#{supUserId}
            </if>
        </where>
        group by u.user_id
        order by u.create_time desc
    </select>
    <select id="selectUsersCount" resultType="Long">
        SELECT count(*) from (
        select
        u.*
        FROM
        t_user u
        left join user_company uc on u.user_id = uc.user_id
        LEFT JOIN company c ON uc.company_id = c.company_id
        <where>
            AND u.`status` =1
            and c.`status` =1
            <if test="companyId != null and companyId!=''">
                and u.company_id=#{companyId}
            </if>
            <if test="userType !=null">
                and u.user_type=#{userType}
            </if>
            <if test="keyWord!=null and keyWord!=''">
                and u.name like CONCAT('%',#{keyWord},'%')

            </if>
            <if test="supUserId != null and supUserId != ''">
                and u.superior_id =#{supUserId}
            </if>
        </where>
        group by u.user_id
        ) as aa
    </select>
</mapper>
