<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.dao.WarningHandleDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hjh.entity.WarningHandle">
		<id column="handle_id" property="handleId" />
		<result column="warning_id" property="warningId" />
		<result column="content" property="content" />
		<result column="title" property="title" />
		<result column="handle_response" property="handleResponse" />
		<result column="handle_status" property="handleStatus" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        handle_id AS handleId, warning_id AS warningId, content, title, handle_response AS handleResponse, handle_status AS handleStatus, status, create_time AS createTime, modify_time AS modifyTime
    </sql>

</mapper>
