<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.dao.AdvertisementDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hjh.entity.Advertisement">
        <id column="advertisement_id" property="advertisementId"/>
        <result column="company_id" property="companyId"/>
        <result column="user_id" property="userId"/>
        <result column="monitor_user_id" property="monitorUserId"/>
        <result column="lontitude" property="lontitude"/>
        <result column="latitude" property="latitude"/>
        <result column="serial_num" property="serialNum"/>
        <result column="near_camera" property="nearCamera"/>
        <result column="near_police" property="nearPolice"/>
        <result column="ad_type" property="adType"/>
        <result column="address" property="address"/>
        <result column="ad_spec" property="adSpec"/>
        <result column="ad_content" property="adContent"/>
        <result column="has_leader_portrait" property="hasLeaderPortrait"/>
        <result column="remark" property="remark"/>
        <result column="audit_response" property="auditResponse"/>
        <result column="ad_status" property="adStatus"/>
        <result column="status" property="status"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="MyAdMap" type="com.hjh.entity.MyAd">
        <id column="advertisement_id" property="advertisementId"/>
        <result column="company_name" property="companyName"/>
        <result column="name" property="userName"/>
        <result column="lontitude" property="lontitude"/>
        <result column="latitude" property="latitude"/>
        <result column="serial_num" property="serialNum"/>
        <result column="ad_type" property="adType"/>
        <result column="near_camera" property="nearCamera"/>
        <result column="near_police" property="nearPolice"/>
        <result column="address" property="address"/>
        <result column="ad_spec" property="adSpec"/>
        <result column="ad_content" property="adContent"/>
        <result column="has_leader_portrait" property="hasLeaderPortrait"/>
        <result column="remark" property="remark"/>
        <result column="audit_response" property="auditResponse"/>
        <result column="ad_status" property="adStatus"/>
        <result column="status" property="status"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="create_time" property="createTime"/>
        <collection property="pics" column="advertisement_id" ofType="com.hjh.entity.PicFile"
                    select="com.hjh.dao.PicFileDao.selectPicForMsg">
            <id column="path" property="path"/>
            <result column="type" property="type"/>
        </collection>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        advertisement_id AS advertisementId,monitor_user_id as monitorUserId, company_id AS companyId, user_id AS userId, lontitude, latitude, serial_num AS serialNum, ad_type AS adType, address, ad_spec AS adSpec, ad_content AS adContent, has_leader_portrait AS hasLeaderPortrait, remark, audit_response AS auditResponse, ad_status AS adStatus, status, modify_time AS modifyTime, create_time AS createTime
    </sql>

    <select id="selectAdList" resultType="Map">
        SELECT
        ad.serial_num,
        ad.advertisement_id,
        ad.lontitude,
        ad.latitude,
        ad.address,
        ad.ad_content,
        u.`name`,
        c.company_name,
        pf.path
        <if test="lon!=null">
        ,round(6378.138*2*asin(sqrt(pow(sin(
        (#{lat}*pi()/180-latitude*pi()/180)/2),2)+cos(#{lat}*pi()/180)*cos(latitude*pi()/180)*
        pow(sin( (#{lon}*pi()/180-lontitude*pi()/180)/2),2)))*1000) AS juli
        </if>
        FROM
        advertisement ad
        LEFT JOIN company c ON ad.company_id = c.company_id
        LEFT JOIN t_user u ON u.user_id = ad.monitor_user_id
        left JOIN pic_file pf on (pf.busness_id=ad.advertisement_id and pf.type=3 and is_first=1)
        <where>
            ad.`status` = 1
            and c.`status`=1

            AND ad.ad_status =5
            <if test="adSpec != null">
                AND ad.ad_spec=#{adSpec}
            </if>
            <if test="adType != null">
                AND ad.ad_type=#{adType}
            </if>
            <if test="companyId != null and companyId != ''">
                AND ad.company_id=#{companyId}
            </if>
            <if test="keyWord != null and keyWord != ''">
                AND (c.company_name like CONCAT("%",#{keyWord},"%")
                    or ad.address like CONCAT("%",#{keyWord},"%")
                    or ad.serial_num like CONCAT("%",#{keyWord},"%"))
            </if>
        </where>
        group by ad.advertisement_id
        order by
        <if test="lon!=null">
            juli ASC,
        </if>
        serial_num+1 asc,
        ad.create_time desc
    </select>

    <select id="getAdDetail" resultType="Map">
        SELECT
        ad.*,
        u.`name`,
        u.mobile,
        c.company_name
        FROM
        advertisement ad
        LEFT JOIN company c ON ad.company_id = c.company_id
        LEFT JOIN t_user u ON u.user_id = ad.monitor_user_id
        <where>
            ad.`status` = 1
            and c.`status`=1
            <if test="advertisementId != null and advertisementId != ''">
                AND ad.advertisement_id=#{advertisementId}
            </if>
        </where>
    </select>

    <select id="selectMyAd" resultType="Map">
        SELECT
        ad.serial_num,
        ad.advertisement_id,
        ad.address,
        ad.lontitude,
        ad.latitude,
        ad.ad_content,
        ad.ad_status,
        u.`name`,
        c.company_name,
        pf.path,
        pf.type
        FROM
        advertisement ad
        LEFT JOIN company c ON ad.company_id = c.company_id
        left JOIN user_company uc on uc.company_id=c.company_id
        LEFT JOIN t_user u ON u.user_id = ad.monitor_user_id
        left JOIN pic_file pf on (pf.busness_id=ad.advertisement_id AND pf.type=2 AND pf.`status`=1)
        <where>
            ad.`status` = 1
            and c.`status`=1
            <if test="key!=null and key != ''">
                and (ad.address like concat('%',#{key},'%')
                    or ad.serial_num like concat('%',#{key},'%'))
            </if>
            <if test="adSpec != null">
                AND ad.ad_spec=#{adSpec}
            </if>
            <if test="adType != null">
                AND ad.ad_type=#{adType}
            </if>
            <if test="userId != null and userId != ''">
                and (ad.user_id=#{userId}
                <if test="isOnlyMy ==null or isOnlyMy==''">
                    OR uc.user_id=#{userId}
                </if>
                )
            </if>
            <if test="adStatus !=null and adStatus!=''">
                and ad.ad_status=#{adStatus}
            </if>
        </where>
        group by ad.advertisement_id
        order by serial_num+1 asc,ad.create_time desc
    </select>

    <select id="adStatistics" resultType="Map">
        SELECT
        COUNT(1) as num,
        <if test="type == 1">
            ad_type
        </if>
        <if test="type !=1">
            ad_spec
        </if>
        FROM
        advertisement
        <where>
            <if test="companyId!=null and companyId!=''">
                and company_id=#{companyId}
            </if>
            and `status` = '1'
        </where>
        GROUP BY
        <if test="type==1">
            ad_type
        </if>
        <if test="type !=1">
            ad_spec
        </if>
    </select>
</mapper>
